* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-logo img {
    width: 110px;
    height: 30px;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.nav-list ul li {
    color: rgb(234, 234, 234);
    list-style: none;
    font-size: 15px;
}

.nav-num-info {
    color: aliceblue;
    display: flex;
    column-gap: 10px;
}

.no {
    font-size: 20px;
}

.nav-icon {
    font-size: 15px;
    align-content: center;
}

/* banner side */
.banner {
    background-image: url(asstes/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.banner-contenet {
    padding: 250px 0;
    width: 50%;
    height: 300px;
}

.banner-contenet h1 {
    font-size: 60px;
}

.banner-contenet p {
    font-size: 20px;
    padding: 20px 0;
}

.btn {
    border: 1px solid none;
    border-radius: 25px;
    padding: 12px 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: #080b1a;
    color: white;
    cursor: pointer;
}

/* area wrapper side */
.area-wrapper-content {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.area-img {
    width: 90%;
}

.area-img img {
    width: 100%;
    height: 400px;
}

.area-content h4 {
    color: rgb(79, 69, 69);
    font-size: 15px;
    font-weight: 200;
    margin-top: 30px;
}

.area-content h2 {
    font-size: 50px;
    font-weight: 500;
    padding-top: 10px;

}

.area-content h5 {
    color: rgb(167, 167, 167);
    font-size: 25px;
    font-weight: 300;
    padding-top: 20px;
}

.area-content p {
    padding: 25px 0;
    font-size: 18px;
    font-weight: 200;
}

.area-content a {
    padding-top: 30px;
    text-decoration: none;
    color: #080b1a;
    font-weight: bold;
}

/* service area */
.service-main {
    width: 100%;
    height: 900px;
}

.service-area {
    background-image: url(/asstes/img/bg-2.jpg);
    height: 350px;
    background-color: rgb(8, 11, 26, .2);
}

.service-area-content {
    padding-top: 80px;
    padding-bottom: 15px;
}

.service-area-content h5 {
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.service-area-content h3 {
    text-align: center;
    font-size: 35px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.service-pic-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pic {
    text-align: center;
}

.service-pic {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.service-data {
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
}

/* testimonial side */
.testimonial {
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

.testimonial-content {

    text-align: center;
}

.testimonial-content h5 {
    font-size: 15px;
    font-weight: 200;
}

.testimonial-content h3 {
    font-size: 40px;
    font-weight: 300;
}

.testimonial-content2 {
    display: flex;
    justify-content: space-between;
}

.testimonal-one {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: 120px 0;
}

.testimonial-iteam {
    width: 50%;
}

.testimonial-iteam p {
    padding: 20px 0;
    font-size: 15px;
    font-weight: 200;
}

.testimonial-iteam h5 {
    font-size: 18px;
}

.testimonial-iteam-img {
    width: 20%;
}

.testimonial-iteam-img img {
    width: 100%;
    border-radius: 50%;
}

/* creative side */
.creative {
    background-image: url(/asstes/img/bg-3.jpg);
    width: 100%;
    height: 300px;
}

.creative-content {
    margin: 0 80px;
}

.creative-data {

    width: 30%;
}

.creative-data h4 {
    font-size: 15px;
    font-weight: 300;
    color: aliceblue;
}

.creative-data h2 {
    font-size: 40px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 15px;
    color: aliceblue;
}

.creative-data p {
    color: rgb(158, 162, 165);
    font-weight: 300;
}

/* blog side */
.blog {
    margin: 60px 0;
}

.blog-row {
    text-align: center;
}

.blog-row h4 {
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 10px;
}

.blog-row h2 {
    font-size: 30px;
    font-weight: 600;
}

.blog-content {
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
}

.blog-item {
    box-sizing: border-box;
    border: 1px solid rgb(237, 231, 231);
    width: 28%;
    height: 250px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.blog-item p {
    font-size: 18px;
    font-weight: 200;
    margin: 15px 0;
}

.blog-date h5 {
    font-size: 13px;
    font-weight: 200;
}

/* logo slider */
.logo-slider {
    margin: 40px 0;
    width: 100%;
    height: 100px;
    padding-top: 45px;
}

.logo-content {
    display: flex;
    justify-content: space-evenly;
}

/* fun fact area */
.fun-fact-area {
    width: 100%;
    height: 200px;
}

.fun-fact-iteam {
    background-image: url(/asstes/img/bg-4.jpg);
    height: 200px;
}

.fun-fact-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.fact h4 {
    font-size: 20px;
    color: aliceblue;
    padding: 20px 0;
}

.fact h2 {
    font-size: 25px;
    color: aliceblue;
}

/* footer area */
.footer {
    padding-top: 100px;
    width: 100%;
    height: 500px;
}

.footer-content {
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 45%;
}

.info h3 {
    font-size: 35px;
    font-weight: 400;
}

.info p {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

.button button {
    border: 1px solid none;
    border-radius: 25px;
    padding: 12px 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    color: #080b1a;
    cursor: pointer;
}

.button button:hover {
    background-color: #080b1a;
    color: white;
}

.footer-iteam {
    display: flex;
    justify-content: space-evenly;
}

.footer-box {
    width: 20%;
}

.footer-box img {
    padding-bottom: 20px;
    width: 60%;

}

.footer-box p {
    font-size: 15px;
    font-weight: 300;
    padding: 10px 0;
}

.footer-box h3 {
    font-size: 25px;
    font-weight: 400;
}

.footer-box ul {
    padding: 20px 0;
}

.footer-box ul a {

    text-decoration: none;
    color: #080b1a;
}

.footer-box ul a li {
    list-style: none;
    line-height: 2;
    font-size: 15px;
}

.footer-box address {
    padding-top: 20px;
    line-height: 2;
}